* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    to bottom,
    #ff9933,   /* Orange */
    #ffffff,   /* White */
    #138808    /* Green */
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Profile Section */
.profile-section {
  margin-bottom: 40px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
}

.profile-section p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}

/* Cards Section */
.links {
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-text {
  flex-grow: 1;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Jiggle effect */
.jiggle {
  animation: jiggle-animation 5s ease-in-out infinite;
}

@keyframes jiggle-animation {
  0%, 71.42% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(3deg);
  }
  85% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Social Media Icons */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  text-decoration: none;
  font-size: 34px;
  color: #fff;
}

.social-icons a:hover {
  color: #d3a775;
}

/* Banner Section */
.banner-section {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.banner-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.profile-logo {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
  object-fit: contain;
}

.banner-photo {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

